# Replacing #### with 0 | Replacing a;b;c values with max(a,b,c) | Replacing [a] with a

In [1]:
import pandas as pd
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import warnings

df = pd.read_csv("2024Nov_HT_Phase2.5.csv", encoding='latin-1')

In [2]:
import pandas as pd

# Assuming your DataFrame is named df
# Check values for Triglycerides, pth, ldl_cholesterol from row 232 to 250
print("Values from row 232 to 250 (Triglycerides, pth, ldl_cholesterol):")
print(df.loc[232:250, ['Triglycerides', 'pth', 'ldl_cholesterol']])

# Check values for ionized_calcium and ldl_cholesterol from row 300 to 320
print("\nValues from row 300 to 320 (ionized_calcium, ldl_cholesterol):")
print(df.loc[300:320, ['ionized_calcium', 'ldl_cholesterol']])

Values from row 232 to 250 (Triglycerides, pth, ldl_cholesterol):
    Triglycerides                  pth ldl_cholesterol
232             0                    0               0
233             0                    0               0
234      136; 235                87.45           72;84
235                                  0               0
236             0                    0               0
237            77                    0           113.7
238            99                110.5           137.6
239             0                    0               0
240             0                204.9               0
241             0                 57.9               0
242             0                    0               0
243           131   581.8; 17.6; 179.6             125
244            99                    0             147
245             0                 67.0               0
246             0                 86.4               0
247           167                65.98           221.7
248           266                155.0             179
249           150                 96.7           106.5
250           142                 75.7           170.6

Values from row 300 to 320 (ionized_calcium, ldl_cholesterol):
        ionized_calcium ldl_cholesterol
300            [1.3038]       [69.8000]
301                   0       [82.7000]
302                   0               0
303            [1.2778]       [87.6000]
304            [1.2983]      [197.4000]
305            [1.3247]      [109.3000]
306                   0       [71.2000]
307                   0               0
308                   0           90.00
309                   0           85.50
310                   0           86.30
311            [1.2511]      [180.7000]
312                   0               0
313                   0               0
314                   0               0
315                   0               0
316                   0               0
317                   0               0
318  [1.3247], [1.2778]      [138.0000]
319                   0      [231.5000]
320                   0               0

In [3]:
df = df.replace(r"#.*", "0", regex=True)

# Function to get the maximum value from cells with semicolon-separated values
def get_max_value(cell):
    if isinstance(cell, str) and ";" in cell:  # Check if the value is a string and contains semicolon
        try:
            values = [float(val.replace(",", ".")) for val in cell.split(";")]
            return max(values)
        except ValueError:
            return cell
    return cell  # Return the cell as is if no semicolon is present

# Apply the function to the entire DataFrame
df = df.applymap(get_max_value)

C:\Users\musab\AppData\Local\Temp\ipykernel_7596\856431635.py:14: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(get_max_value)

In [4]:
import pandas as pd

# Assuming your DataFrame is named df
# Check values for Triglycerides, pth, ldl_cholesterol from row 232 to 250
print("Values from row 232 to 250 (Triglycerides, pth, ldl_cholesterol):")
print(df.loc[232:250, ['Triglycerides', 'pth', 'ldl_cholesterol']])

# Check values for ionized_calcium and ldl_cholesterol from row 300 to 320
print("\nValues from row 300 to 320 (ionized_calcium, ldl_cholesterol):")
print(df.loc[300:320, ['ionized_calcium', 'ldl_cholesterol']])

Values from row 232 to 250 (Triglycerides, pth, ldl_cholesterol):
    Triglycerides     pth ldl_cholesterol
232             0       0               0
233             0       0               0
234         235.0   87.45            84.0
235                     0               0
236             0       0               0
237            77       0           113.7
238            99   110.5           137.6
239             0       0               0
240             0   204.9               0
241             0    57.9               0
242             0       0               0
243           131   581.8             125
244            99       0             147
245             0    67.0               0
246             0    86.4               0
247           167   65.98           221.7
248           266   155.0             179
249           150    96.7           106.5
250           142    75.7           170.6

Values from row 300 to 320 (ionized_calcium, ldl_cholesterol):
        ionized_calcium ldl_cholesterol
300            [1.3038]       [69.8000]
301                   0       [82.7000]
302                   0               0
303            [1.2778]       [87.6000]
304            [1.2983]      [197.4000]
305            [1.3247]      [109.3000]
306                   0       [71.2000]
307                   0               0
308                   0           90.00
309                   0           85.50
310                   0           86.30
311            [1.2511]      [180.7000]
312                   0               0
313                   0               0
314                   0               0
315                   0               0
316                   0               0
317                   0               0
318  [1.3247], [1.2778]      [138.0000]
319                   0      [231.5000]
320                   0               0

In [5]:


# Remove square brackets from all values in the entire DataFrame
df = df.applymap(lambda x: x.replace("[", "").replace("]", "") if isinstance(x, str) else x)

C:\Users\musab\AppData\Local\Temp\ipykernel_7596\1649908858.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.replace("[", "").replace("]", "") if isinstance(x, str) else x)

In [6]:
import pandas as pd

# Assuming your DataFrame is named df
# Check values for Triglycerides, pth, ldl_cholesterol from row 232 to 250
print("Values from row 232 to 250 (Triglycerides, pth, ldl_cholesterol):")
print(df.loc[232:250, ['Triglycerides', 'pth', 'ldl_cholesterol']])

# Check values for ionized_calcium and ldl_cholesterol from row 300 to 320
print("\nValues from row 300 to 320 (ionized_calcium, ldl_cholesterol):")
print(df.loc[300:320, ['ionized_calcium', 'ldl_cholesterol']])

Values from row 232 to 250 (Triglycerides, pth, ldl_cholesterol):
    Triglycerides     pth ldl_cholesterol
232             0       0               0
233             0       0               0
234         235.0   87.45            84.0
235                     0               0
236             0       0               0
237            77       0           113.7
238            99   110.5           137.6
239             0       0               0
240             0   204.9               0
241             0    57.9               0
242             0       0               0
243           131   581.8             125
244            99       0             147
245             0    67.0               0
246             0    86.4               0
247           167   65.98           221.7
248           266   155.0             179
249           150    96.7           106.5
250           142    75.7           170.6

Values from row 300 to 320 (ionized_calcium, ldl_cholesterol):
    ionized_calcium ldl_cholesterol
300          1.3038         69.8000
301               0         82.7000
302               0               0
303          1.2778         87.6000
304          1.2983        197.4000
305          1.3247        109.3000
306               0         71.2000
307               0               0
308               0           90.00
309               0           85.50
310               0           86.30
311          1.2511        180.7000
312               0               0
313               0               0
314               0               0
315               0               0
316               0               0
317               0               0
318  1.3247, 1.2778        138.0000
319               0        231.5000
320               0               0

In [7]:
df.to_excel('2024Nov_HT_Phase2.6.xlsx', index=False)