In [1]:
import pandas as pd
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import warnings
import numpy as np

df = pd.read_csv("paratiroid son_revised (1).csv", encoding='latin-1')

In [2]:
df['alp'] = df['alp'].replace('', np.nan)
import numpy as np

# Replace empty strings and cells with only spaces or other invisible characters with NaN
df['alp'] = df['alp'].replace(r'^\s*$', np.nan, regex=True)

In [3]:

df['Alp_new'] = df['alp'].fillna(df['ALP'])

In [4]:
df['alp'].head(50)

0     NaN
1      45
2     NaN
3     NaN
4      56
5      63
6     NaN
7     NaN
8     103
9     117
10     86
11    NaN
12    NaN
13     40
14     92
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
20    NaN
21    NaN
22    NaN
23    NaN
24    NaN
25    NaN
26    NaN
27    NaN
28    NaN
29    NaN
30    NaN
31    NaN
32    NaN
33    NaN
34    NaN
35    NaN
36    NaN
37    NaN
38    NaN
39    NaN
40    NaN
41    NaN
42    NaN
43    NaN
44    NaN
45    NaN
46    NaN
47    NaN
48    NaN
49    NaN
Name: alp, dtype: object

In [5]:
df['ALP'].head(50)

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     103
9     117
10     86
11    NaN
12    NaN
13     40
14     92
15    NaN
16    NaN
17    NaN
18    NaN
19     74
20     63
21    NaN
22    NaN
23     59
24    122
25     66
26     87
27     80
28     43
29     55
30    NaN
31    NaN
32    NaN
33     49
34     53
35     52
36     50
37     72
38     74
39    122
40    112
41     48
42    NaN
43     68
44    NaN
45     38
46     89
47     44
48    NaN
49     97
Name: ALP, dtype: object

In [6]:
df['Alp_new'].head(50)

0     NaN
1      45
2     NaN
3     NaN
4      56
5      63
6     NaN
7     NaN
8     103
9     117
10     86
11    NaN
12    NaN
13     40
14     92
15    NaN
16    NaN
17    NaN
18    NaN
19     74
20     63
21    NaN
22    NaN
23     59
24    122
25     66
26     87
27     80
28     43
29     55
30    NaN
31    NaN
32    NaN
33     49
34     53
35     52
36     50
37     72
38     74
39    122
40    112
41     48
42    NaN
43     68
44    NaN
45     38
46     89
47     44
48    NaN
49     97
Name: Alp_new, dtype: object