In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Nov2024_HT.csv", encoding='latin-1')
# df = pd.read_csv("thyroid.csv")

In [3]:
df.head()

,HASTANE ADI,YA?ADI?I ?L,CEP TELF NO,HASTA ADI 1.GEL??,1.geli? tarihi,Hasta ADI 2.geli?,hasta 2.geli?inintarihi,Hasta ADI 3.GEL??,hastan?n 3. geli?inin tarihi,aphp(asemp),...,1. AMEL?YAT PATOLOJ? RAPORU,Unnamed: 95,2. AMEL?YAT PATOLOJ? RAPORU,3. AMEL?YAT PATOLOJ? RAPORU,Unnamed: 98,Unnamed: 99,trigliserid,hdl,Unnamed: 102,Unnamed: 103
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"ADENOM1,H?PERPLAZ? 2 , KARS?NOMA 3",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MP GOZTEPE,NaN,NaN,2000433.0,5/11/2022,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,2000433,3/3/2023,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000433.0,6/2/2023,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BAH_734201,NaN,NaN,2001479.0,8/1/2022,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
print(list(df.columns))

['HASTANE ADI', 'YA?ADI?I ?L', 'CEP TELF NO', 'HASTA ADI 1.GEL??', '1.geli? tarihi', 'Hasta ADI 2.geli?', 'hasta 2.geli?inintarihi', 'Hasta ADI 3.GEL??', 'hastan?n 3. geli?inin tarihi', 'aphp(asemp)', 'nhph(normokals)', 'tersiyerhp', 'sekonder hp', 'Ya?', 'Cinsiyet', 'Boy', 'Kilo', 'BMI', 'Medeni Durum', 'Tütün ', '?laç kullan?m? varsa ad?', 'Komorbidite', 'Unnamed: 22', 'magnezyum', 'alp', 'albümin', 'Serum Ca', '?yonize Ca', 'Serum kreatinin', 'gfr', 'Fosfor', '24 saatlik üriner Ca', '24 saat idrar kreatin', 'Albümine göre düzeltilmi? Ca', 'PTH', '24 saat idrar fosfor', ' 24 saat idrar sodyum', 'Total protein', 'Trigliseritler', 'LDL', 't.KOLESTROL', 'AST ', 'ALT', 'ALP', 'GGT', 'Kan üre nitrojeni(BUN)', 'Klor', 'Serum 25 hidroksi vitamin D', 'Fraktür var', 'Ürolitiazis var', 'L1 T SKORU', 'L2 T SKORU', 'L3 T SKORU', 'L4 T SKORU', 'L1 Z SKORU', 'L2 Z SKORU', 'L3 Z SKORU', 'L4 Z SKORU', 'Femur boynu z skoru', 'femur boynu t skoru', 'radius z skoru', 'radius t skoru', 'PS?K?ATR?KSEMPTOMVAR', 'KARIN A?RISI', 'Yorgunluk', 'Miyalji', 'Kab?zl?k', 'Uykusuzluk', 'POL?D?PS?', 'Poliüri', 'KAS Güçsüzlük', 'Ba? a?r?s?', 'Bulant?', 'Amnezi', 'Safra ta??', 'KIRIKVAR', 'Nefrolitiazis', 'Kemik spesifik ALP', 'Unnamed: 78', 'Serum Ca/P', 'PF index', 'ALP ile birle?tirilmi? CL/PO4', 'Unnamed: 82', 'Unnamed: 83', 'Paratiroid sintigrafi', 'Paratiroid SPECT', 'BOYUN USG', '4D BT', '4D MR', 'SPECT+Sestamibi', 'Unnamed: 90', '99Mtc-MIBI', '99MTC-Sstamibi', 'Unnamed: 93', '1. AMEL?YAT PATOLOJ? RAPORU', 'Unnamed: 95', '2. AMEL?YAT PATOLOJ? RAPORU', '3. AMEL?YAT PATOLOJ? RAPORU', 'Unnamed: 98', 'Unnamed: 99', 'trigliserid', 'hdl', 'Unnamed: 102', 'Unnamed: 103']

## Step 1 : Converting turkish column to english

In [5]:
column_mapping = {
    "HASTANE ADI": "hospital_name",
    "YA?ADI?I ?L": "living_city",
    "CEP TELF NO": "mobile_phone_number",
    "HASTA ADI 1.GEL??": "patient_name_1st_visit",
    "1.geli? tarihi": "date_of_1st_visit",
    "Hasta ADI 2.geli?": "patient_name_2nd_visit",
    "hasta 2.geli?inintarihi": "date_of_2nd_visit",
    "Hasta ADI 3.GEL??": "patient_name_3rd_visit",
    "hastan?n 3. geli?inin tarihi": "date_of_3rd_visit",
    "Hasta ADI 4.GEL??": "patient_name_4th_visit",
    "HASTANIN 4.GEL???N?N TAR?H?": "date_of_4th_visit",
    "Hasta ADI 5.GEL??": "patient_name_5th_visit",
    "HASTANIN 5.GEL???N?N TAR?H?": "date_of_5th_visit",
    "Hasta ADI 6.GEL??": "patient_name_6th_visit",
    "HASTANIN 6..GEL???N?N TAR?H?": "date_of_6th_visit",
    "aphp(asemp)": "aphp",
    "nhph(normokals)": "nhph",
    "tersiyerhp": "tertiary_hp",
    "sekonder hp": "secondary_hp",
    "Ya?": "age",
    "Cinsiyet": "gender",
    "Boy": "height",
    "Kilo": "weight",
    "BMI": "bmi",
    "Medeni Durum": "marital_status",
    "Tütün ": "tobacco",
    "?laç kullan?m? varsa ad?": "medication_name",
    "Komorbidite": "comorbidity",
    "magnezyum": "magnesium",
    "alp": "alp",
    "albümin": "albumin",
    "Serum Ca": "serum_calcium",
    "?yonize Ca": "ionized_calcium",
    "Serum kreatinin": "serum_creatinine",
    "gfr": "gfr",
    "Fosfor": "phosphorus",
    "24 saatlik üriner Ca": "urinary_calcium_24h",
    "24 saat idrar kreatin": "urinary_creatinine_24h",
    "24 saat idrar fosfor": "urinary_phosphorus_24h",
    " 24 saat idrar sodyum": "urinary_sodium_24h",
    "Total protein": "total_protein",
    "Trigliseritler": "Triglycerides",
    "LDL": "ldl_cholesterol",
    "t.KOLESTROL": "total_cholesterol",
    "AST ": "ast",
    "ALT": "alt",
    "GGT": "ggt",
    "Kan üre nitrojeni(BUN)": "bun",
    "Klor": "chlorine",
    "Serum 25 hidroksi vitamin D": "serum_25_hydroxy_vitamin_d",
    "PTH": "pth",
    "Fraktür var": "fracture_present",
    "Ürolitiazis var": "kidney_stones_present",
    "L1 T SKORU": "l1_t_score",
    "L2 T SKORU": "l2_t_score",
    "L3 T SKORU": "l3_t_score",
    "L4 T SKORU": "l4_t_score",
    "L1 Z SKORU": "l1_z_score",
    "L2 Z SKORU": "l2_z_score",
    "L3 Z SKORU": "l3_z_score",
    "L4 Z SKORU": "l4_z_score",
    "Femur boynu z skoru": "femoral_neck_z_score",
    "femur boynu t skoru": "femoral_neck_t_score",
    "radius z skoru": "radius_z_score",
    "radius t skoru": "radius_t_score",
    "PS?K?ATR?KSEMPTOMVAR": "psychiatric_symptoms_present",
    "KARIN A?RISI": "abdominal_pain",
    "Yorgunluk": "fatigue",
    "Miyalji": "myalgia",
    "Kab?zl?k": "constipation",
    "Uykusuzluk": "insomnia",
    "POL?D?PS?": "polydipsia",
    "Poliüri": "polyuria",
    "KAS Güçsüzlük": "muscle_weakness",
    "Ba? a?r?s?": "headache",
    "Bulant?": "nausea",
    "Amnezi": "amnesia",
    "Safra ta??": "gallstones",
    "Nefrolitiazis": "nephrolithiasis",
    "Kemik spesifik ALP": "bone_specific_alp",
    "Albümine göre düzeltilmi? Ca": "corrected_calcium_by_albumin",
    "Serum Ca/P": "serum_calcium_phosphorus_ratio",
    "PF index": "pf_index",
    "ALP ile birle?tirilmi? CL/PO4": "alp_combined_with_cl_po4",
    "Paratiroid sintigrafi": "parathyroid_scintigraphy",
    "Paratiroid SPECT": "parathyroid_spect",
    "BOYUN USG": "neck_ultrasound",
    "4D BT": "4d_ct",
    "4D MR": "4d_mri",
    "SPECT+Sestamibi": "spect_sestamibi",
    "99Mtc-MIBI": "99mtc_mibi",
    "99MTC-Sstamibi": "99mtc_sestamibi",
    "1. AMEL?YAT PATOLOJ? RAPORU": "first_surgery_pathology_report",
    "Unnamed: 98": "second_surgery_pathology_report",
    "2. AMEL?YAT PATOLOJ? RAPORU": "third_surgery_pathology_report",
    "3. AMEL?YAT PATOLOJ? RAPORU": "fourth_surgery_pathology_report",
   "trigliserid": "triglycerides",
    "hdl": "hdl_cholesterol"
}

# Drop columns with 'Unnamed' in the name
df = df.loc[:, ~df.columns.str.startswith('Unnamed')]

# Print remaining column names
print(df.columns)

df.rename(columns=column_mapping, inplace=True)
print(df.columns)
print(column_mapping.keys())

df.head()

Index(['HASTANE ADI', 'YA?ADI?I ?L', 'CEP TELF NO', 'HASTA ADI 1.GEL??',
       '1.geli? tarihi', 'Hasta ADI 2.geli?', 'hasta 2.geli?inintarihi',
       'Hasta ADI 3.GEL??', 'hastan?n 3. geli?inin tarihi', 'aphp(asemp)',
       'nhph(normokals)', 'tersiyerhp', 'sekonder hp', 'Ya?', 'Cinsiyet',
       'Boy', 'Kilo', 'BMI', 'Medeni Durum', 'Tütün ',
       '?laç kullan?m? varsa ad?', 'Komorbidite', 'magnezyum', 'alp',
       'albümin', 'Serum Ca', '?yonize Ca', 'Serum kreatinin', 'gfr', 'Fosfor',
       '24 saatlik üriner Ca', '24 saat idrar kreatin',
       'Albümine göre düzeltilmi? Ca', 'PTH', '24 saat idrar fosfor',
       ' 24 saat idrar sodyum', 'Total protein', 'Trigliseritler', 'LDL',
       't.KOLESTROL', 'AST ', 'ALT', 'ALP', 'GGT', 'Kan üre nitrojeni(BUN)',
       'Klor', 'Serum 25 hidroksi vitamin D', 'Fraktür var', 'Ürolitiazis var',
       'L1 T SKORU', 'L2 T SKORU', 'L3 T SKORU', 'L4 T SKORU', 'L1 Z SKORU',
       'L2 Z SKORU', 'L3 Z SKORU', 'L4 Z SKORU', 'Femur boynu z skoru',
       'femur boynu t skoru', 'radius z skoru', 'radius t skoru',
       'PS?K?ATR?KSEMPTOMVAR', 'KARIN A?RISI', 'Yorgunluk', 'Miyalji',
       'Kab?zl?k', 'Uykusuzluk', 'POL?D?PS?', 'Poliüri', 'KAS Güçsüzlük',
       'Ba? a?r?s?', 'Bulant?', 'Amnezi', 'Safra ta??', 'KIRIKVAR',
       'Nefrolitiazis', 'Kemik spesifik ALP', 'Serum Ca/P', 'PF index',
       'ALP ile birle?tirilmi? CL/PO4', 'Paratiroid sintigrafi',
       'Paratiroid SPECT', 'BOYUN USG', '4D BT', '4D MR', 'SPECT+Sestamibi',
       '99Mtc-MIBI', '99MTC-Sstamibi', '1. AMEL?YAT PATOLOJ? RAPORU',
       '2. AMEL?YAT PATOLOJ? RAPORU', '3. AMEL?YAT PATOLOJ? RAPORU',
       'trigliserid', 'hdl'],
      dtype='object')
Index(['hospital_name', 'living_city', 'mobile_phone_number',
       'patient_name_1st_visit', 'date_of_1st_visit', 'patient_name_2nd_visit',
       'date_of_2nd_visit', 'patient_name_3rd_visit', 'date_of_3rd_visit',
       'aphp', 'nhph', 'tertiary_hp', 'secondary_hp', 'age', 'gender',
       'height', 'weight', 'bmi', 'marital_status', 'tobacco',
       'medication_name', 'comorbidity', 'magnesium', 'alp', 'albumin',
       'serum_calcium', 'ionized_calcium', 'serum_creatinine', 'gfr',
       'phosphorus', 'urinary_calcium_24h', 'urinary_creatinine_24h',
       'corrected_calcium_by_albumin', 'pth', 'urinary_phosphorus_24h',
       'urinary_sodium_24h', 'total_protein', 'Triglycerides',
       'ldl_cholesterol', 'total_cholesterol', 'ast', 'alt', 'ALP', 'ggt',
       'bun', 'chlorine', 'serum_25_hydroxy_vitamin_d', 'fracture_present',
       'kidney_stones_present', 'l1_t_score', 'l2_t_score', 'l3_t_score',
       'l4_t_score', 'l1_z_score', 'l2_z_score', 'l3_z_score', 'l4_z_score',
       'femoral_neck_z_score', 'femoral_neck_t_score', 'radius_z_score',
       'radius_t_score', 'psychiatric_symptoms_present', 'abdominal_pain',
       'fatigue', 'myalgia', 'constipation', 'insomnia', 'polydipsia',
       'polyuria', 'muscle_weakness', 'headache', 'nausea', 'amnesia',
       'gallstones', 'KIRIKVAR', 'nephrolithiasis', 'bone_specific_alp',
       'serum_calcium_phosphorus_ratio', 'pf_index',
       'alp_combined_with_cl_po4', 'parathyroid_scintigraphy',
       'parathyroid_spect', 'neck_ultrasound', '4d_ct', '4d_mri',
       'spect_sestamibi', '99mtc_mibi', '99mtc_sestamibi',
       'first_surgery_pathology_report', 'third_surgery_pathology_report',
       'fourth_surgery_pathology_report', 'triglycerides', 'hdl_cholesterol'],
      dtype='object')
dict_keys(['HASTANE ADI', 'YA?ADI?I ?L', 'CEP TELF NO', 'HASTA ADI 1.GEL??', '1.geli? tarihi', 'Hasta ADI 2.geli?', 'hasta 2.geli?inintarihi', 'Hasta ADI 3.GEL??', 'hastan?n 3. geli?inin tarihi', 'Hasta ADI 4.GEL??', 'HASTANIN 4.GEL???N?N TAR?H?', 'Hasta ADI 5.GEL??', 'HASTANIN 5.GEL???N?N TAR?H?', 'Hasta ADI 6.GEL??', 'HASTANIN 6..GEL???N?N TAR?H?', 'aphp(asemp)', 'nhph(normokals)', 'tersiyerhp', 'sekonder hp', 'Ya?', 'Cinsiyet', 'Boy', 'Kilo', 'BMI', 'Medeni Durum', 'Tütün ', '?laç kullan?m? varsa ad?', 'Komorbidite', 'magnezyum', 'alp', 'albümin', 'Serum Ca', '?yonize Ca', 'Serum kreatinin', 'gfr', 'Fosfor', '24 saatlik üriner Ca', '24 saat idrar kreatin', '24 saat idrar fosfor', ' 24 saat idrar sodyum', 'Total protein', 'Trigliseritler', 'LDL', 't.KOLESTROL', 'AST ', 'ALT', 'GGT', 'Kan üre nitrojeni(BUN)', 'Klor', 'Serum 25 hidroksi vitamin D', 'PTH', 'Fraktür var', 'Ürolitiazis var', 'L1 T SKORU', 'L2 T SKORU', 'L3 T SKORU', 'L4 T SKORU', 'L1 Z SKORU', 'L2 Z SKORU', 'L3 Z SKORU', 'L4 Z SKORU', 'Femur boynu z skoru', 'femur boynu t skoru', 'radius z skoru', 'radius t skoru', 'PS?K?ATR?KSEMPTOMVAR', 'KARIN A?RISI', 'Yorgunluk', 'Miyalji', 'Kab?zl?k', 'Uykusuzluk', 'POL?D?PS?', 'Poliüri', 'KAS Güçsüzlük', 'Ba? a?r?s?', 'Bulant?', 'Amnezi', 'Safra ta??', 'Nefrolitiazis', 'Kemik spesifik ALP', 'Albümine göre düzeltilmi? Ca', 'Serum Ca/P', 'PF index', 'ALP ile birle?tirilmi? CL/PO4', 'Paratiroid sintigrafi', 'Paratiroid SPECT', 'BOYUN USG', '4D BT', '4D MR', 'SPECT+Sestamibi', '99Mtc-MIBI', '99MTC-Sstamibi', '1. AMEL?YAT PATOLOJ? RAPORU', 'Unnamed: 98', '2. AMEL?YAT PATOLOJ? RAPORU', '3. AMEL?YAT PATOLOJ? RAPORU', 'trigliserid', 'hdl'])

,hospital_name,living_city,mobile_phone_number,patient_name_1st_visit,date_of_1st_visit,patient_name_2nd_visit,date_of_2nd_visit,patient_name_3rd_visit,date_of_3rd_visit,aphp,...,4d_ct,4d_mri,spect_sestamibi,99mtc_mibi,99mtc_sestamibi,first_surgery_pathology_report,third_surgery_pathology_report,fourth_surgery_pathology_report,triglycerides,hdl_cholesterol
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"ADENOM1,H?PERPLAZ? 2 , KARS?NOMA 3",NaN,NaN,NaN,NaN
1,MP GOZTEPE,NaN,NaN,2000433.0,5/11/2022,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,2000433,3/3/2023,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000433.0,6/2/2023,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BAH_734201,NaN,NaN,2001479.0,8/1/2022,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Step 2 : Target column ( aphp/nphp/secondary hp) mapping 1 if patient has disease and 0 if patient doesnt has disease

In [6]:

df['aphp'] = df['aphp'].apply(lambda x: 1 if x == 'Asemptomatik' else 0)
df['nhph'] = df['nhph'].apply(lambda x: 1 if x == 'Normokalsemik' else 0)
df['secondary_hp'] = df['secondary_hp'].apply(lambda x: 1 if x == 'Sekonder hp' else 0)

print(df.columns)
# Display only the binary columns
df[['aphp', 'nhph', 'secondary_hp']]

binary_columns = [
'tobacco',  "psychiatric_symptoms_present",
    "abdominal_pain",
    "fatigue",
    "myalgia",
    "constipation",
    "insomnia",
    "polydipsia",
    "polyuria",
    "muscle_weakness",
    "headache",
    "nausea",
    "amnesia",
    "gallstones",
    "nephrolithiasis","parathyroid_spect", "neck_ultrasound",'fracture_present', 'kidney_stones_present'
]

for column in binary_columns:
    df[column] = df[column].map({'YOK': 0,'yok': 0,'var': 1, 'VAR': 1,'#VALUE!':0})
    df[column] = df[column].fillna(-1)

df.head()
columns_to_print = ['serum_calcium_phosphorus_ratio', 'pf_index', 'alp_combined_with_cl_po4']

# Print the first 50 rows of the specified columns
print(df[columns_to_print].head(50))

Index(['hospital_name', 'living_city', 'mobile_phone_number',
       'patient_name_1st_visit', 'date_of_1st_visit', 'patient_name_2nd_visit',
       'date_of_2nd_visit', 'patient_name_3rd_visit', 'date_of_3rd_visit',
       'aphp', 'nhph', 'tertiary_hp', 'secondary_hp', 'age', 'gender',
       'height', 'weight', 'bmi', 'marital_status', 'tobacco',
       'medication_name', 'comorbidity', 'magnesium', 'alp', 'albumin',
       'serum_calcium', 'ionized_calcium', 'serum_creatinine', 'gfr',
       'phosphorus', 'urinary_calcium_24h', 'urinary_creatinine_24h',
       'corrected_calcium_by_albumin', 'pth', 'urinary_phosphorus_24h',
       'urinary_sodium_24h', 'total_protein', 'Triglycerides',
       'ldl_cholesterol', 'total_cholesterol', 'ast', 'alt', 'ALP', 'ggt',
       'bun', 'chlorine', 'serum_25_hydroxy_vitamin_d', 'fracture_present',
       'kidney_stones_present', 'l1_t_score', 'l2_t_score', 'l3_t_score',
       'l4_t_score', 'l1_z_score', 'l2_z_score', 'l3_z_score', 'l4_z_score',
       'femoral_neck_z_score', 'femoral_neck_t_score', 'radius_z_score',
       'radius_t_score', 'psychiatric_symptoms_present', 'abdominal_pain',
       'fatigue', 'myalgia', 'constipation', 'insomnia', 'polydipsia',
       'polyuria', 'muscle_weakness', 'headache', 'nausea', 'amnesia',
       'gallstones', 'KIRIKVAR', 'nephrolithiasis', 'bone_specific_alp',
       'serum_calcium_phosphorus_ratio', 'pf_index',
       'alp_combined_with_cl_po4', 'parathyroid_scintigraphy',
       'parathyroid_spect', 'neck_ultrasound', '4d_ct', '4d_mri',
       'spect_sestamibi', '99mtc_mibi', '99mtc_sestamibi',
       'first_surgery_pathology_report', 'third_surgery_pathology_report',
       'fourth_surgery_pathology_report', 'triglycerides', 'hdl_cholesterol'],
      dtype='object')
    serum_calcium_phosphorus_ratio   pf_index  \
0                              NaN  ?Ca*PTH/P
1                              NaN        NaN
2                              NaN        NaN
3                              NaN    #DIV/0!
4                              NaN    #DIV/0!
5                              NaN    #DIV/0!
6                              NaN    #DIV/0!
7                              NaN    #DIV/0!
8                              NaN    #DIV/0!
9                              NaN    #DIV/0!
10                             NaN    #DIV/0!
11                             NaN        NaN
12                             NaN    #DIV/0!
13                             NaN        NaN
14                             NaN    #DIV/0!
15                             NaN    #DIV/0!
16                             NaN    #DIV/0!
17                             NaN    #DIV/0!
18                             NaN    #DIV/0!
19                             NaN    #DIV/0!
20                             NaN    #DIV/0!
21                             NaN    #DIV/0!
22                             NaN    #DIV/0!
23                             NaN        NaN
24                             NaN    #DIV/0!
25                             NaN    #DIV/0!
26                             NaN    #DIV/0!
27                             NaN    #DIV/0!
28                             NaN    #DIV/0!
29                             NaN    #DIV/0!
30                             NaN    #DIV/0!
31                             NaN    #DIV/0!
32                             NaN        NaN
33                             NaN    #DIV/0!
34                             NaN    #DIV/0!
35                             NaN    #DIV/0!
36                             NaN    #DIV/0!
37                             NaN    #DIV/0!
38                             NaN    #DIV/0!
39                             NaN    #DIV/0!
40                             NaN    #DIV/0!
41                             NaN        NaN
42                             NaN    #DIV/0!
43                             NaN    #DIV/0!
44                             NaN    #DIV/0!
45                             NaN    #DIV/0!
46                             NaN    #DIV/0!
47                             NaN        NaN
48                             NaN        NaN
49                             NaN    #DIV/0!

                   alp_combined_with_cl_po4
0   ALP ile ayn? anda bak?lan  CL/PO4 ORANI
1                                       NaN
2                                       NaN
3                                       NaN
4                                       NaN
5                                       NaN
6                                       NaN
7                                       NaN
8                                   #DIV/0!
9                                   #DIV/0!
10                                  #DIV/0!
11                                      NaN
12                                      NaN
13                                      NaN
14                                      NaN
15                                  #DIV/0!
16                                      NaN
17                                      NaN
18                                      NaN
19                                  #DIV/0!
20                                  #DIV/0!
21                                      NaN
22                                      NaN
23                                  #DIV/0!
24                                  #DIV/0!
25                                      NaN
26                                  #DIV/0!
27                                  #DIV/0!
28                                  #DIV/0!
29                                  #DIV/0!
30                                      NaN
31                                      NaN
32                                  #DIV/0!
33                                      NaN
34                                  #DIV/0!
35                                  #DIV/0!
36                                  #DIV/0!
37                                  #DIV/0!
38                                  #DIV/0!
39                                  #DIV/0!
40                                  #DIV/0!
41                                  #DIV/0!
42                                      NaN
43                                  #DIV/0!
44                                      NaN
45                                      NaN
46                                  #DIV/0!
47                                  #DIV/0!
48                                      NaN
49                                  #DIV/0!

In [7]:

df.head().iloc[:, :20]

,hospital_name,living_city,mobile_phone_number,patient_name_1st_visit,date_of_1st_visit,patient_name_2nd_visit,date_of_2nd_visit,patient_name_3rd_visit,date_of_3rd_visit,aphp,nhph,tertiary_hp,secondary_hp,age,gender,height,weight,bmi,marital_status,tobacco
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,-1.0
1,MP GOZTEPE,NaN,NaN,2000433.0,5/11/2022,NaN,NaN,NaN,NaN,0,0,NaN,0,65.0,E,NaN,NaN,NaN,NaN,-1.0
2,NaN,NaN,NaN,NaN,NaN,2000433,3/3/2023,NaN,NaN,0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,-1.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000433.0,6/2/2023,0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,-1.0
4,BAH_734201,NaN,NaN,2001479.0,8/1/2022,NaN,NaN,NaN,NaN,0,1,NaN,0,40.0,K,162.0,82.0,NaN,NaN,-1.0

## Step 3 : FINDING EMPTY COLUMNS

In [8]:
import pandas as pd

def find_empty_columns(data_frame):
    empty_columns = data_frame.columns[data_frame.isnull().all()]
    return empty_columns


empty_columns = find_empty_columns(df)

if not empty_columns.empty:
    print(f"The empty columns are: {empty_columns}")
else:
    print("No empty columns found.")

data_shape = df.shape  # Corrected line

columns_to_correct = ['corrected_calcium_by_albumin', 'serum_calcium_phosphorus_ratio', 'pf_index']

for column in columns_to_correct:
    df[column] = df[column].replace('#VALUE!', 0)

# Display the shape
print(f"Number of rows: {data_shape[0]}, Number of columns: {data_shape[1]}")

columns_to_print = ['serum_calcium_phosphorus_ratio', 'pf_index', 'alp_combined_with_cl_po4']

# Print the first 50 rows of the specified columns
print(df[columns_to_print].head(50))

The empty columns are: Index(['mobile_phone_number', 'tertiary_hp', 'gfr', 'phosphorus',
       'bone_specific_alp', 'serum_calcium_phosphorus_ratio',
       'spect_sestamibi', 'fourth_surgery_pathology_report', 'triglycerides',
       'hdl_cholesterol'],
      dtype='object')
Number of rows: 1370, Number of columns: 93
    serum_calcium_phosphorus_ratio   pf_index  \
0                              NaN  ?Ca*PTH/P
1                              NaN        NaN
2                              NaN        NaN
3                              NaN    #DIV/0!
4                              NaN    #DIV/0!
5                              NaN    #DIV/0!
6                              NaN    #DIV/0!
7                              NaN    #DIV/0!
8                              NaN    #DIV/0!
9                              NaN    #DIV/0!
10                             NaN    #DIV/0!
11                             NaN        NaN
12                             NaN    #DIV/0!
13                             NaN        NaN
14                             NaN    #DIV/0!
15                             NaN    #DIV/0!
16                             NaN    #DIV/0!
17                             NaN    #DIV/0!
18                             NaN    #DIV/0!
19                             NaN    #DIV/0!
20                             NaN    #DIV/0!
21                             NaN    #DIV/0!
22                             NaN    #DIV/0!
23                             NaN        NaN
24                             NaN    #DIV/0!
25                             NaN    #DIV/0!
26                             NaN    #DIV/0!
27                             NaN    #DIV/0!
28                             NaN    #DIV/0!
29                             NaN    #DIV/0!
30                             NaN    #DIV/0!
31                             NaN    #DIV/0!
32                             NaN        NaN
33                             NaN    #DIV/0!
34                             NaN    #DIV/0!
35                             NaN    #DIV/0!
36                             NaN    #DIV/0!
37                             NaN    #DIV/0!
38                             NaN    #DIV/0!
39                             NaN    #DIV/0!
40                             NaN    #DIV/0!
41                             NaN        NaN
42                             NaN    #DIV/0!
43                             NaN    #DIV/0!
44                             NaN    #DIV/0!
45                             NaN    #DIV/0!
46                             NaN    #DIV/0!
47                             NaN        NaN
48                             NaN        NaN
49                             NaN    #DIV/0!

                   alp_combined_with_cl_po4
0   ALP ile ayn? anda bak?lan  CL/PO4 ORANI
1                                       NaN
2                                       NaN
3                                       NaN
4                                       NaN
5                                       NaN
6                                       NaN
7                                       NaN
8                                   #DIV/0!
9                                   #DIV/0!
10                                  #DIV/0!
11                                      NaN
12                                      NaN
13                                      NaN
14                                      NaN
15                                  #DIV/0!
16                                      NaN
17                                      NaN
18                                      NaN
19                                  #DIV/0!
20                                  #DIV/0!
21                                      NaN
22                                      NaN
23                                  #DIV/0!
24                                  #DIV/0!
25                                      NaN
26                                  #DIV/0!
27                                  #DIV/0!
28                                  #DIV/0!
29                                  #DIV/0!
30                                      NaN
31                                      NaN
32                                  #DIV/0!
33                                      NaN
34                                  #DIV/0!
35                                  #DIV/0!
36                                  #DIV/0!
37                                  #DIV/0!
38                                  #DIV/0!
39                                  #DIV/0!
40                                  #DIV/0!
41                                  #DIV/0!
42                                      NaN
43                                  #DIV/0!
44                                      NaN
45                                      NaN
46                                  #DIV/0!
47                                  #DIV/0!
48                                      NaN
49                                  #DIV/0!

In [9]:
import pandas as pd
# Check the length of empty_columns and verify it
print("Length of empty_columns:", len(empty_columns))
print("Number of columns in the DataFrame:", len(df.columns))
print("Columns in the DataFrame:", df.columns)

# Ensure the columns you're trying to fill exist in the DataFrame
missing_columns = [col for col in empty_columns if col not in df.columns]
print("Columns missing in DataFrame:", missing_columns)


# Replace the column names with the actual names of your empty columns
# empty_columns = ['radius_t_score', '99mtc_sestamibi', 'fourth_surgery_pathology_report',
#        'triglycerides', 'hdl_cholesterol']

# # Fill empty columns with 0 for all rows
# df[empty_columns] = df[empty_columns].fillna(0)

# # Display the modified DataFrame
# print(df)
# Replace the column names with the actual names of your empty columns
empty_columns = ['radius_t_score', '99mtc_sestamibi', 'fourth_surgery_pathology_report','triglycerides', 'hdl_cholesterol']
# Check for duplicate column names
duplicate_columns = df.columns[df.columns.duplicated()]
print("Duplicate column names:", duplicate_columns)

# Fill empty columns with 0 for all rows
df.loc[:, empty_columns] = df.loc[:, empty_columns].fillna(0)
import pandas as pd

# Assuming df is your DataFrame
# Replace NaN values with 0 for all columns
df.fillna(0, inplace=True)

# Display the modified DataFrame
print(df)

# Display the modified DataFrame
print(df)

columns_to_print = ['serum_calcium_phosphorus_ratio', 'pf_index', 'alp_combined_with_cl_po4']

# Print the first 50 rows of the specified columns
print(df[columns_to_print].head(50))

Length of empty_columns: 10
Number of columns in the DataFrame: 93
Columns in the DataFrame: Index(['hospital_name', 'living_city', 'mobile_phone_number',
       'patient_name_1st_visit', 'date_of_1st_visit', 'patient_name_2nd_visit',
       'date_of_2nd_visit', 'patient_name_3rd_visit', 'date_of_3rd_visit',
       'aphp', 'nhph', 'tertiary_hp', 'secondary_hp', 'age', 'gender',
       'height', 'weight', 'bmi', 'marital_status', 'tobacco',
       'medication_name', 'comorbidity', 'magnesium', 'alp', 'albumin',
       'serum_calcium', 'ionized_calcium', 'serum_creatinine', 'gfr',
       'phosphorus', 'urinary_calcium_24h', 'urinary_creatinine_24h',
       'corrected_calcium_by_albumin', 'pth', 'urinary_phosphorus_24h',
       'urinary_sodium_24h', 'total_protein', 'Triglycerides',
       'ldl_cholesterol', 'total_cholesterol', 'ast', 'alt', 'ALP', 'ggt',
       'bun', 'chlorine', 'serum_25_hydroxy_vitamin_d', 'fracture_present',
       'kidney_stones_present', 'l1_t_score', 'l2_t_score', 'l3_t_score',
       'l4_t_score', 'l1_z_score', 'l2_z_score', 'l3_z_score', 'l4_z_score',
       'femoral_neck_z_score', 'femoral_neck_t_score', 'radius_z_score',
       'radius_t_score', 'psychiatric_symptoms_present', 'abdominal_pain',
       'fatigue', 'myalgia', 'constipation', 'insomnia', 'polydipsia',
       'polyuria', 'muscle_weakness', 'headache', 'nausea', 'amnesia',
       'gallstones', 'KIRIKVAR', 'nephrolithiasis', 'bone_specific_alp',
       'serum_calcium_phosphorus_ratio', 'pf_index',
       'alp_combined_with_cl_po4', 'parathyroid_scintigraphy',
       'parathyroid_spect', 'neck_ultrasound', '4d_ct', '4d_mri',
       'spect_sestamibi', '99mtc_mibi', '99mtc_sestamibi',
       'first_surgery_pathology_report', 'third_surgery_pathology_report',
       'fourth_surgery_pathology_report', 'triglycerides', 'hdl_cholesterol'],
      dtype='object')
Columns missing in DataFrame: []
Duplicate column names: Index([], dtype='object')
     hospital_name living_city  mobile_phone_number  patient_name_1st_visit  \
0                0           0                  0.0                     0.0
1       MP GOZTEPE           0                  0.0               2000433.0
2                0           0                  0.0                     0.0
3                0           0                  0.0                     0.0
4       BAH_734201           0                  0.0               2001479.0
...            ...         ...                  ...                     ...
1365             0           0                  0.0                     0.0
1366             0           0                  0.0                     0.0
1367             0           0                  0.0                     0.0
1368             0           0                  0.0                     0.0
1369             0           0                  0.0                     0.0

     date_of_1st_visit patient_name_2nd_visit date_of_2nd_visit  \
0                    0                      0                 0
1            5/11/2022                      0                 0
2                    0                2000433          3/3/2023
3                    0                      0                 0
4             8/1/2022                      0                 0
...                ...                    ...               ...
1365                 0                      0                 0
1366                 0                      0                 0
1367                 0                      0                 0
1368                 0                      0                 0
1369                 0                      0                 0

      patient_name_3rd_visit date_of_3rd_visit  aphp  ...  4d_ct  4d_mri  \
0                        0.0                 0     0  ...      0       0
1                        0.0                 0     0  ...      0       0
2                        0.0                 0     0  ...      0       0
3                  2000433.0          6/2/2023     0  ...      0       0
4                        0.0                 0     0  ...      0       0
...                      ...               ...   ...  ...    ...     ...
1365                     0.0                 0     0  ...      0       0
1366                     0.0                 0     0  ...      0       0
1367                     0.0                 0     0  ...      0       0
1368                     0.0                 0     0  ...      0       0
1369                     0.0                 0     0  ...      0       0

      spect_sestamibi  99mtc_mibi 99mtc_sestamibi  \
0                 0.0           0               0
1                 0.0           0               0
2                 0.0           0               0
3                 0.0           0               0
4                 0.0           0               0
...               ...         ...             ...
1365              0.0           0               0
1366              0.0           0               0
1367              0.0           0               0
1368              0.0           0               0
1369              0.0           0               0

          first_surgery_pathology_report  third_surgery_pathology_report  \
0     ADENOM1,H?PERPLAZ? 2 , KARS?NOMA 3                               0
1                                      0                               0
2                                      0                               0
3                                      0                               0
4                                      0                               0
...                                  ...                             ...
1365                                   0                               0
1366                                   0                               0
1367                                   0                               0
1368                                   0                               0
1369                                   0                               0

      fourth_surgery_pathology_report triglycerides  hdl_cholesterol
0                                 0.0           0.0              0.0
1                                 0.0           0.0              0.0
2                                 0.0           0.0              0.0
3                                 0.0           0.0              0.0
4                                 0.0           0.0              0.0
...                               ...           ...              ...
1365                              0.0           0.0              0.0
1366                              0.0           0.0              0.0
1367                              0.0           0.0              0.0
1368                              0.0           0.0              0.0
1369                              0.0           0.0              0.0

[1370 rows x 93 columns]
     hospital_name living_city  mobile_phone_number  patient_name_1st_visit  \
0                0           0                  0.0                     0.0
1       MP GOZTEPE           0                  0.0               2000433.0
2                0           0                  0.0                     0.0
3                0           0                  0.0                     0.0
4       BAH_734201           0                  0.0               2001479.0
...            ...         ...                  ...                     ...
1365             0           0                  0.0                     0.0
1366             0           0                  0.0                     0.0
1367             0           0                  0.0                     0.0
1368             0           0                  0.0                     0.0
1369             0           0                  0.0                     0.0

     date_of_1st_visit patient_name_2nd_visit date_of_2nd_visit  \
0                    0                      0                 0
1            5/11/2022                      0                 0
2                    0                2000433          3/3/2023
3                    0                      0                 0
4             8/1/2022                      0                 0
...                ...                    ...               ...
1365                 0                      0                 0
1366                 0                      0                 0
1367                 0                      0                 0
1368                 0                      0                 0
1369                 0                      0                 0

      patient_name_3rd_visit date_of_3rd_visit  aphp  ...  4d_ct  4d_mri  \
0                        0.0                 0     0  ...      0       0
1                        0.0                 0     0  ...      0       0
2                        0.0                 0     0  ...      0       0
3                  2000433.0          6/2/2023     0  ...      0       0
4                        0.0                 0     0  ...      0       0
...                      ...               ...   ...  ...    ...     ...
1365                     0.0                 0     0  ...      0       0
1366                     0.0                 0     0  ...      0       0
1367                     0.0                 0     0  ...      0       0
1368                     0.0                 0     0  ...      0       0
1369                     0.0                 0     0  ...      0       0

      spect_sestamibi  99mtc_mibi 99mtc_sestamibi  \
0                 0.0           0               0
1                 0.0           0               0
2                 0.0           0               0
3                 0.0           0               0
4                 0.0           0               0
...               ...         ...             ...
1365              0.0           0               0
1366              0.0           0               0
1367              0.0           0               0
1368              0.0           0               0
1369              0.0           0               0

          first_surgery_pathology_report  third_surgery_pathology_report  \
0     ADENOM1,H?PERPLAZ? 2 , KARS?NOMA 3                               0
1                                      0                               0
2                                      0                               0
3                                      0                               0
4                                      0                               0
...                                  ...                             ...
1365                                   0                               0
1366                                   0                               0
1367                                   0                               0
1368                                   0                               0
1369                                   0                               0

      fourth_surgery_pathology_report triglycerides  hdl_cholesterol
0                                 0.0           0.0              0.0
1                                 0.0           0.0              0.0
2                                 0.0           0.0              0.0
3                                 0.0           0.0              0.0
4                                 0.0           0.0              0.0
...                               ...           ...              ...
1365                              0.0           0.0              0.0
1366                              0.0           0.0              0.0
1367                              0.0           0.0              0.0
1368                              0.0           0.0              0.0
1369                              0.0           0.0              0.0

[1370 rows x 93 columns]
    serum_calcium_phosphorus_ratio   pf_index  \
0                              0.0  ?Ca*PTH/P
1                              0.0          0
2                              0.0          0
3                              0.0    #DIV/0!
4                              0.0    #DIV/0!
5                              0.0    #DIV/0!
6                              0.0    #DIV/0!
7                              0.0    #DIV/0!
8                              0.0    #DIV/0!
9                              0.0    #DIV/0!
10                             0.0    #DIV/0!
11                             0.0          0
12                             0.0    #DIV/0!
13                             0.0          0
14                             0.0    #DIV/0!
15                             0.0    #DIV/0!
16                             0.0    #DIV/0!
17                             0.0    #DIV/0!
18                             0.0    #DIV/0!
19                             0.0    #DIV/0!
20                             0.0    #DIV/0!
21                             0.0    #DIV/0!
22                             0.0    #DIV/0!
23                             0.0          0
24                             0.0    #DIV/0!
25                             0.0    #DIV/0!
26                             0.0    #DIV/0!
27                             0.0    #DIV/0!
28                             0.0    #DIV/0!
29                             0.0    #DIV/0!
30                             0.0    #DIV/0!
31                             0.0    #DIV/0!
32                             0.0          0
33                             0.0    #DIV/0!
34                             0.0    #DIV/0!
35                             0.0    #DIV/0!
36                             0.0    #DIV/0!
37                             0.0    #DIV/0!
38                             0.0    #DIV/0!
39                             0.0    #DIV/0!
40                             0.0    #DIV/0!
41                             0.0          0
42                             0.0    #DIV/0!
43                             0.0    #DIV/0!
44                             0.0    #DIV/0!
45                             0.0    #DIV/0!
46                             0.0    #DIV/0!
47                             0.0          0
48                             0.0          0
49                             0.0    #DIV/0!

                   alp_combined_with_cl_po4
0   ALP ile ayn? anda bak?lan  CL/PO4 ORANI
1                                         0
2                                         0
3                                         0
4                                         0
5                                         0
6                                         0
7                                         0
8                                   #DIV/0!
9                                   #DIV/0!
10                                  #DIV/0!
11                                        0
12                                        0
13                                        0
14                                        0
15                                  #DIV/0!
16                                        0
17                                        0
18                                        0
19                                  #DIV/0!
20                                  #DIV/0!
21                                        0
22                                        0
23                                  #DIV/0!
24                                  #DIV/0!
25                                        0
26                                  #DIV/0!
27                                  #DIV/0!
28                                  #DIV/0!
29                                  #DIV/0!
30                                        0
31                                        0
32                                  #DIV/0!
33                                        0
34                                  #DIV/0!
35                                  #DIV/0!
36                                  #DIV/0!
37                                  #DIV/0!
38                                  #DIV/0!
39                                  #DIV/0!
40                                  #DIV/0!
41                                  #DIV/0!
42                                        0
43                                  #DIV/0!
44                                        0
45                                        0
46                                  #DIV/0!
47                                  #DIV/0!
48                                        0
49                                  #DIV/0!

In [10]:

# comorbidity_list = [np.nan, 'DM,HT', np.nan, np.nan, 'DM,HT,HİPOTROİD?', np.nan, 'ASTIM,HT', np.nan, np.nan, np.nan, np.nan, 'ASTIM', np.nan, np.nan, 'SVO,HT,MNG', np.nan, np.nan, 'ASBESTOZİS,HT', np.nan, 'HT,KAH,HİPOTROİD?', np.nan, np.nan, np.nan, 'DM', np.nan, 'HASHİMOTO TİROİDİT', np.nan, np.nan, 'NODULER GUATR', np.nan, np.nan, 'HASHİMOTO', np.nan, np.nan, np.nan, np.nan, 'YOK', 'AF,MNG', 'MEME CA +HT', 'MEME CA+HT', 'MEME CA +HT', 'HT', 'HT', 'HT', 'HT', 'HT']

# # Mapping dictionary
# comorbidity_mapping = {
#     'DM,HT': 'Diabetes Mellitus, Hypertension',
#     'DM,HT,HİPOTROİD?': 'Diabetes Mellitus, Hypertension, Hypothyroidism',
#     'ASTIM,HT': 'Asthma, Hypertension',
#     'ASTIM': 'Asthma',
#     'SVO,HT,MNG': 'Cerebrovascular Accident, Hypertension, Multinodular Goiter',
#     'ASBESTOZİS,HT': 'Asbestosis, Hypertension',
#     'HT,KAH,HİPOTROİD?': 'Hypertension, Coronary Artery Disease, Hypothyroidism',
#     'DM': 'Diabetes Mellitus',
#     'HASHİMOTO TİROİDİT': 'Hashimoto Thyroiditis',
#     'NODULER GUATR': 'Nodular Goiter',
#     'HASHİMOTO': 'Hashimoto Thyroiditis',
#     'YOK': 0,
#     'AF,MNG': 'Atrial Fibrillation, Multinodular Goiter',
#     'MEME CA +HT': 'Breast Cancer, Hypertension',
#     'HT' : 'Hypertension',
# }

# # Replace values in the list using the mapping dictionary
# df['Comorbidity'] = df['Comorbidity'].map(comorbidity_mapping)
# df['Comorbidity'].fillna(0, inplace=True)
# print(df.columns)

In [11]:
# import pandas as pd

# # Your dataset

# # Split the diseases in each cell and create a list of unique diseases
# unique_diseases = set()
# for cell in df['Comorbidity']:
#     if isinstance(cell, str):
#         diseases = [d.strip() for d in cell.split(',')]
#         unique_diseases.update(diseases)

# # Create columns for each unique disease and initialize with zeros
# for disease in unique_diseases:
#     df[disease] = 0

# # Update the DataFrame with 1 where the disease is present in the original 'Comorbidity' column
# for index, row in df.iterrows():
#     if isinstance(row['Comorbidity'], str):
#         diseases = [d.strip() for d in row['Comorbidity'].split(',')]
#         df.loc[index, diseases] = 1

# # Drop the original 'Comorbidity' column
# df.drop('Comorbidity', axis=1, inplace=True)

# # Display the resulting DataFrame
# print(df)

In [12]:
gender_mapping = {'Kadin': 1, 'Erkek': 0, 'K': 1, 'E': 0}
df['gender'] = df['gender'].map(gender_mapping)

# If you want to handle missing values (NaN), you can fill them with a default value (e.g., -1)
df['gender'] = df['gender'].fillna(-1)

# Display the resulting DataFrame
print(df)
print(df['gender'].iloc[100:111])

print(df.columns)
df.head()

     hospital_name living_city  mobile_phone_number  patient_name_1st_visit  \
0                0           0                  0.0                     0.0
1       MP GOZTEPE           0                  0.0               2000433.0
2                0           0                  0.0                     0.0
3                0           0                  0.0                     0.0
4       BAH_734201           0                  0.0               2001479.0
...            ...         ...                  ...                     ...
1365             0           0                  0.0                     0.0
1366             0           0                  0.0                     0.0
1367             0           0                  0.0                     0.0
1368             0           0                  0.0                     0.0
1369             0           0                  0.0                     0.0

     date_of_1st_visit patient_name_2nd_visit date_of_2nd_visit  \
0                    0                      0                 0
1            5/11/2022                      0                 0
2                    0                2000433          3/3/2023
3                    0                      0                 0
4             8/1/2022                      0                 0
...                ...                    ...               ...
1365                 0                      0                 0
1366                 0                      0                 0
1367                 0                      0                 0
1368                 0                      0                 0
1369                 0                      0                 0

      patient_name_3rd_visit date_of_3rd_visit  aphp  ...  4d_ct  4d_mri  \
0                        0.0                 0     0  ...      0       0
1                        0.0                 0     0  ...      0       0
2                        0.0                 0     0  ...      0       0
3                  2000433.0          6/2/2023     0  ...      0       0
4                        0.0                 0     0  ...      0       0
...                      ...               ...   ...  ...    ...     ...
1365                     0.0                 0     0  ...      0       0
1366                     0.0                 0     0  ...      0       0
1367                     0.0                 0     0  ...      0       0
1368                     0.0                 0     0  ...      0       0
1369                     0.0                 0     0  ...      0       0

      spect_sestamibi  99mtc_mibi  99mtc_sestamibi  \
0                 0.0           0                0
1                 0.0           0                0
2                 0.0           0                0
3                 0.0           0                0
4                 0.0           0                0
...               ...         ...              ...
1365              0.0           0                0
1366              0.0           0                0
1367              0.0           0                0
1368              0.0           0                0
1369              0.0           0                0

          first_surgery_pathology_report  third_surgery_pathology_report  \
0     ADENOM1,H?PERPLAZ? 2 , KARS?NOMA 3                               0
1                                      0                               0
2                                      0                               0
3                                      0                               0
4                                      0                               0
...                                  ...                             ...
1365                                   0                               0
1366                                   0                               0
1367                                   0                               0
1368                                   0                               0
1369                                   0                               0

      fourth_surgery_pathology_report triglycerides  hdl_cholesterol
0                                 0.0           0.0              0.0
1                                 0.0           0.0              0.0
2                                 0.0           0.0              0.0
3                                 0.0           0.0              0.0
4                                 0.0           0.0              0.0
...                               ...           ...              ...
1365                              0.0           0.0              0.0
1366                              0.0           0.0              0.0
1367                              0.0           0.0              0.0
1368                              0.0           0.0              0.0
1369                              0.0           0.0              0.0

[1370 rows x 93 columns]
100    1.0
101    1.0
102    1.0
103    0.0
104    0.0
105    1.0
106    0.0
107    0.0
108    1.0
109    0.0
110    0.0
Name: gender, dtype: float64
Index(['hospital_name', 'living_city', 'mobile_phone_number',
       'patient_name_1st_visit', 'date_of_1st_visit', 'patient_name_2nd_visit',
       'date_of_2nd_visit', 'patient_name_3rd_visit', 'date_of_3rd_visit',
       'aphp', 'nhph', 'tertiary_hp', 'secondary_hp', 'age', 'gender',
       'height', 'weight', 'bmi', 'marital_status', 'tobacco',
       'medication_name', 'comorbidity', 'magnesium', 'alp', 'albumin',
       'serum_calcium', 'ionized_calcium', 'serum_creatinine', 'gfr',
       'phosphorus', 'urinary_calcium_24h', 'urinary_creatinine_24h',
       'corrected_calcium_by_albumin', 'pth', 'urinary_phosphorus_24h',
       'urinary_sodium_24h', 'total_protein', 'Triglycerides',
       'ldl_cholesterol', 'total_cholesterol', 'ast', 'alt', 'ALP', 'ggt',
       'bun', 'chlorine', 'serum_25_hydroxy_vitamin_d', 'fracture_present',
       'kidney_stones_present', 'l1_t_score', 'l2_t_score', 'l3_t_score',
       'l4_t_score', 'l1_z_score', 'l2_z_score', 'l3_z_score', 'l4_z_score',
       'femoral_neck_z_score', 'femoral_neck_t_score', 'radius_z_score',
       'radius_t_score', 'psychiatric_symptoms_present', 'abdominal_pain',
       'fatigue', 'myalgia', 'constipation', 'insomnia', 'polydipsia',
       'polyuria', 'muscle_weakness', 'headache', 'nausea', 'amnesia',
       'gallstones', 'KIRIKVAR', 'nephrolithiasis', 'bone_specific_alp',
       'serum_calcium_phosphorus_ratio', 'pf_index',
       'alp_combined_with_cl_po4', 'parathyroid_scintigraphy',
       'parathyroid_spect', 'neck_ultrasound', '4d_ct', '4d_mri',
       'spect_sestamibi', '99mtc_mibi', '99mtc_sestamibi',
       'first_surgery_pathology_report', 'third_surgery_pathology_report',
       'fourth_surgery_pathology_report', 'triglycerides', 'hdl_cholesterol'],
      dtype='object')

,hospital_name,living_city,mobile_phone_number,patient_name_1st_visit,date_of_1st_visit,patient_name_2nd_visit,date_of_2nd_visit,patient_name_3rd_visit,date_of_3rd_visit,aphp,...,4d_ct,4d_mri,spect_sestamibi,99mtc_mibi,99mtc_sestamibi,first_surgery_pathology_report,third_surgery_pathology_report,fourth_surgery_pathology_report,triglycerides,hdl_cholesterol
0,0,0,0.0,0.0,0,0,0,0.0,0,0,...,0,0,0.0,0,0,"ADENOM1,H?PERPLAZ? 2 , KARS?NOMA 3",0,0.0,0.0,0.0
1,MP GOZTEPE,0,0.0,2000433.0,5/11/2022,0,0,0.0,0,0,...,0,0,0.0,0,0,0,0,0.0,0.0,0.0
2,0,0,0.0,0.0,0,2000433,3/3/2023,0.0,0,0,...,0,0,0.0,0,0,0,0,0.0,0.0,0.0
3,0,0,0.0,0.0,0,0,0,2000433.0,6/2/2023,0,...,0,0,0.0,0,0,0,0,0.0,0.0,0.0
4,BAH_734201,0,0.0,2001479.0,8/1/2022,0,0,0.0,0,0,...,0,0,0.0,0,0,0,0,0.0,0.0,0.0

In [13]:
# all_comorbidities = df['Stomach_Ache'].tolist()

# # Print the modified list
# print(all_comorbidities)

In [14]:
# # Assuming df is your DataFrame
# columns_to_map_to_var = ['Parathyroid_Scintigraphy',
#        'Parathyroid_SPECT', 'Neck_Ultrasound', '4D_CT_Scan', '4D_MRI']
# values_to_map_to_var = ['SA? ?NFER?OR', 'SOL ALT ?NFER?OR', 'SA? KAUDAL', 'SA? POSTER?OR', 'SA? ALT POSTER?OR 2 ADET']

# # Loop through the specified columns and values, replacing them with 'VAR'
# for column in columns_to_map_to_var:
#     for value in values_to_map_to_var:
#         df[column] = df[column].replace(value, 'VAR')

# specific_columns = ['Parathyroid_Scintigraphy',
#        'Parathyroid_SPECT', 'Neck_Ultrasound', '4D_CT_Scan', '4D_MRI','Radius_Z_Score','Bone_Specific_ALP','1st_Surgery_Pathology_Report']

# # Loop through the specified columns and map 'VAR' to 1 and other values to 0
# for column in specific_columns:
#     df[column] = df[column].map({'VAR': 1, 'YOK': 0}).fillna(0)

df['marital_status'] = df['marital_status'].replace({'EVL?': 1}).fillna(0)
# df['Medication_Used'] = df['Medication_Used'].replace({'TH?AZ?D': 1,'thiazid':1,'T?YAZ?D':1,'bisphosphonates,\ndenosumab, thiazide diuretics, and lithium)':1}).fillna(0)

# Display the resulting DataFrame
# print(df['Marital_Status'])
# df['99Mtc-MIBI'] = df['99Mtc-MIBI'].map({'VAR': 1, np.nan: -1})

# all_comorbidities = df['Medication_Used'].tolist()

# Print the modified list
# print(all_comorbidities)

specifc_columns = ['serum_calcium_phosphorus_ratio', 'pf_index', 'alp_combined_with_cl_po4']
values_to_replace_with_zero = {
    'serum_calcium_phosphorus_ratio': {'CAL+0,8X(4-HASTA ALB)': 0},
    'pf_index': {'?Ca*PTH/P': 0},
    'alp_combined_with_cl_po4': {'ALP ile ayn? anda bak?lan  CL/PO4 ORANI': 0}
}

# Loop through the specified columns and map specific values to 0
for column in specifc_columns:
    df[column] = df[column].replace(values_to_replace_with_zero.get(column, {}))

print(df[specifc_columns].head(50))

    serum_calcium_phosphorus_ratio pf_index alp_combined_with_cl_po4
0                              0.0        0                        0
1                              0.0        0                        0
2                              0.0        0                        0
3                              0.0  #DIV/0!                        0
4                              0.0  #DIV/0!                        0
5                              0.0  #DIV/0!                        0
6                              0.0  #DIV/0!                        0
7                              0.0  #DIV/0!                        0
8                              0.0  #DIV/0!                  #DIV/0!
9                              0.0  #DIV/0!                  #DIV/0!
10                             0.0  #DIV/0!                  #DIV/0!
11                             0.0        0                        0
12                             0.0  #DIV/0!                        0
13                             0.0        0                        0
14                             0.0  #DIV/0!                        0
15                             0.0  #DIV/0!                  #DIV/0!
16                             0.0  #DIV/0!                        0
17                             0.0  #DIV/0!                        0
18                             0.0  #DIV/0!                        0
19                             0.0  #DIV/0!                  #DIV/0!
20                             0.0  #DIV/0!                  #DIV/0!
21                             0.0  #DIV/0!                        0
22                             0.0  #DIV/0!                        0
23                             0.0        0                  #DIV/0!
24                             0.0  #DIV/0!                  #DIV/0!
25                             0.0  #DIV/0!                        0
26                             0.0  #DIV/0!                  #DIV/0!
27                             0.0  #DIV/0!                  #DIV/0!
28                             0.0  #DIV/0!                  #DIV/0!
29                             0.0  #DIV/0!                  #DIV/0!
30                             0.0  #DIV/0!                        0
31                             0.0  #DIV/0!                        0
32                             0.0        0                  #DIV/0!
33                             0.0  #DIV/0!                        0
34                             0.0  #DIV/0!                  #DIV/0!
35                             0.0  #DIV/0!                  #DIV/0!
36                             0.0  #DIV/0!                  #DIV/0!
37                             0.0  #DIV/0!                  #DIV/0!
38                             0.0  #DIV/0!                  #DIV/0!
39                             0.0  #DIV/0!                  #DIV/0!
40                             0.0  #DIV/0!                  #DIV/0!
41                             0.0        0                  #DIV/0!
42                             0.0  #DIV/0!                        0
43                             0.0  #DIV/0!                  #DIV/0!
44                             0.0  #DIV/0!                        0
45                             0.0  #DIV/0!                        0
46                             0.0  #DIV/0!                  #DIV/0!
47                             0.0        0                  #DIV/0!
48                             0.0        0                        0
49                             0.0  #DIV/0!                  #DIV/0!

In [15]:
# Define the pattern to remove
import re
pattern = r'\s*(gr|mg|gram)/gün\s*'

# Function to remove specified patterns from a string
def remove_patterns(text):
    if isinstance(text, str):
        return re.sub(pattern, '', text)
    else:
        return text

# Columns to clean
columns_to_clean = ['urinary_calcium_24h', 'urinary_creatinine_24h', 'urinary_phosphorus_24h']

# Apply the function to specified columns
for col in columns_to_clean:
    df[col] = df[col].apply(remove_patterns)

print(df)

     hospital_name living_city  mobile_phone_number  patient_name_1st_visit  \
0                0           0                  0.0                     0.0
1       MP GOZTEPE           0                  0.0               2000433.0
2                0           0                  0.0                     0.0
3                0           0                  0.0                     0.0
4       BAH_734201           0                  0.0               2001479.0
...            ...         ...                  ...                     ...
1365             0           0                  0.0                     0.0
1366             0           0                  0.0                     0.0
1367             0           0                  0.0                     0.0
1368             0           0                  0.0                     0.0
1369             0           0                  0.0                     0.0

     date_of_1st_visit patient_name_2nd_visit date_of_2nd_visit  \
0                    0                      0                 0
1            5/11/2022                      0                 0
2                    0                2000433          3/3/2023
3                    0                      0                 0
4             8/1/2022                      0                 0
...                ...                    ...               ...
1365                 0                      0                 0
1366                 0                      0                 0
1367                 0                      0                 0
1368                 0                      0                 0
1369                 0                      0                 0

      patient_name_3rd_visit date_of_3rd_visit  aphp  ...  4d_ct  4d_mri  \
0                        0.0                 0     0  ...      0       0
1                        0.0                 0     0  ...      0       0
2                        0.0                 0     0  ...      0       0
3                  2000433.0          6/2/2023     0  ...      0       0
4                        0.0                 0     0  ...      0       0
...                      ...               ...   ...  ...    ...     ...
1365                     0.0                 0     0  ...      0       0
1366                     0.0                 0     0  ...      0       0
1367                     0.0                 0     0  ...      0       0
1368                     0.0                 0     0  ...      0       0
1369                     0.0                 0     0  ...      0       0

      spect_sestamibi  99mtc_mibi  99mtc_sestamibi  \
0                 0.0           0                0
1                 0.0           0                0
2                 0.0           0                0
3                 0.0           0                0
4                 0.0           0                0
...               ...         ...              ...
1365              0.0           0                0
1366              0.0           0                0
1367              0.0           0                0
1368              0.0           0                0
1369              0.0           0                0

          first_surgery_pathology_report  third_surgery_pathology_report  \
0     ADENOM1,H?PERPLAZ? 2 , KARS?NOMA 3                               0
1                                      0                               0
2                                      0                               0
3                                      0                               0
4                                      0                               0
...                                  ...                             ...
1365                                   0                               0
1366                                   0                               0
1367                                   0                               0
1368                                   0                               0
1369                                   0                               0

      fourth_surgery_pathology_report triglycerides  hdl_cholesterol
0                                 0.0           0.0              0.0
1                                 0.0           0.0              0.0
2                                 0.0           0.0              0.0
3                                 0.0           0.0              0.0
4                                 0.0           0.0              0.0
...                               ...           ...              ...
1365                              0.0           0.0              0.0
1366                              0.0           0.0              0.0
1367                              0.0           0.0              0.0
1368                              0.0           0.0              0.0
1369                              0.0           0.0              0.0

[1370 rows x 93 columns]

In [16]:
# medication_names = [
#     'bisphosphonates',
#     'denosumab',
#     'thiazide diuretics',
#     'lithium',
#     'metotreksat',
#     'prednol',
#     'd vit',
#     'indapamid',
#     'irbesartan',
#     'amlodipin',
#     'metoprolol',
#     'atorvastatin',
#     'kandesartan',
#     'lt4',
#     'alendronat',
#     'lerkanidipin',
#     'PTU',
#     'EUTHYROX',
#     'nebivolol',
#     'perindopril',
#     'metformin',
#     'gliklazid',
#     'levotiroksin',
#     'ACEI',
#     'AZA',
#     'zoledronik asit',
#     'ramipril',
#     'zofenopril',
#     'benidipin',
#     'vildagliptin'
# ]

# # Replace medication names in the 'Medication_Used' column with 1 if present in medication_names, else 0
# df['Medication_Used'] = df['Medication_Used'].apply(lambda x: 1 if any(med_name in x for med_name in medication_names) else 0)

In [17]:
# # Assuming df is your DataFrame
# columns_to_replace_nan = ['Age', 'Height', 'Weight', 'BMI','Magnesium', 'ALP', 'Albumin', 'Serum_Calcium', 'Ionized_Calcium', 'Serum_Creatinine', 'GFR', 'Phosphorus', 'Urinary_Calcium_24hr', 'Urinary_Creatinine_24hr', 'Urinary_Phosphorus_24hr', 'Urinary_Sodium_24hr', 'Total_Protein', 'LDL', 'Cholesterol_Total', 'AST', 'ALT', 'GGT', 'BUN', 'Chlorine', 'Serum_25_Hydroxy_Vitamin_D', 'PTH','L1_T_Score', 'L2_T_Score', 'L3_T_Score', 'L4_T_Score', 'L1_Z_Score', 'L2_Z_Score', 'L3_Z_Score', 'L4_Z_Score', 'Femur_Neck_Z_Score', 'Femur_Neck_T_Score']

# # Replace NaN with 0 in the specified columns
# df[columns_to_replace_nan] = df[columns_to_replace_nan].fillna(0)

# # Print the DataFrame with replaced NaN values
# print(df)
# ,

In [18]:
columns_to_exclude = ['hospital_name', 'living_city', 'mobile_phone_number',
       'patient_name_1st_visit', 'date_of_1st_visit', 'patient_name_2nd_visit',
       'date_of_2nd_visit', 'patient_name_3rd_visit', 'date_of_3rd_visit',    'parathyroid_scintigraphy', 
    'parathyroid_spect', 
    'neck_ultrasound', 
    '4d_ct', 
    '4d_mri', 
    'spect_sestamibi', 
    '99mtc_mibi', 
    '99mtc_sestamibi', 
    'first_surgery_pathology_report','medication_name'
]

df = df.drop(columns=columns_to_exclude)

# print(df)
# columns_to_fill = ['Calcium_Corrected_for_Albumin', 'Serum_Calcium_Phosphorus_Ratio', 'PF_Index', 'CL_PO4_Combined_with_ALP']
# df[columns_to_fill] = df[columns_to_fill].fillna(0)

In [19]:
columns_with_missing_values = df.columns[df.isnull().any()].tolist()

print(columns_with_missing_values)
# columns_to_print = ['Calcium_Corrected_for_Albumin', 'Serum_Calcium_Phosphorus_Ratio', 'PF_Index', 'CL_PO4_Combined_with_ALP']
# print(df[columns_to_print])

print(df['aphp'])
print(df['comorbidity'])

[]
0       0
1       0
2       0
3       0
4       0
       ..
1365    0
1366    0
1367    0
1368    0
1369    0
Name: aphp, Length: 1370, dtype: int64
0       0
1       0
2       0
3       0
4       0
       ..
1365    0
1366    0
1367    0
1368    0
1369    0
Name: comorbidity, Length: 1370, dtype: object

In [20]:
 df.to_excel('2024Nov_HT_FinalDatav3.xlsx', index=False)